.grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    max-height: 550px;
    border: 2px solid black;
    
    
}
.row {
    
    margin: 0;
    padding: 0;
    background-color: beige;
}
.cell {
    
    background-color: beige;
    margin: 0;
    padding: 0;
}


